@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Open Sans', 'sans-serif';
    background-color: hsl(235, 21%, 11%);
    margin: 0;
    background-image: url('../images/bg-mobile2.jpg');
    background-repeat: no-repeat;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;   
    padding: 20px;
}

.title {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.form-container {
    width: 100vw;
    padding: 20px;   
}

.entry-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.todo-input {
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: hsl(237, 14%, 26%);
    color: hsl(234, 39%, 85%);
    padding-left: 20px;
}

.todo-list {
    list-style-type: none;
    padding: 0;
   
}

li {
    background-color: hsl(237, 14%, 26%);
    color: hsl(234, 39%, 85%);
    height: 40px;
    padding-left: 10px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid hsl(234, 11%, 52%);
}

.text-task {
    padding-left: 10px;
}

.delete-todo {
    color: hsl(234, 11%, 52%);
    margin-left: auto;
}

.done span {
    text-decoration: line-through;
  }

input[type="checkbox"] {
    display: none;
}

.tick {
    width: 18px;
    height: 18px;
    border: 1px solid hsl(234, 11%, 52%);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.tick::before {
    content: '✓';
    font-size: 20px;
    display: none;
}
  
.done .tick::before {
    display: inline;
}
  
#din-items {
    color:hsl(234, 39%, 85%);
    font-size: 0.9em;
}

@media only screen and (min-width: 375px) {

    body {
        font-family: 'Open Sans', 'sans-serif';
        background-color: hsl(235, 21%, 11%);
        margin: 0;
        background-image: url('../images/bg-desktop2.jpg');
        background-repeat: no-repeat;
        width: 100%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    
    .title-box {
        width: 60vw;
    }

    .form-container {
        width: 60vw;
        padding: 20px;   
    }

    .items-left {
        width: 60vw;
    }
}

.light-mode {
    background-color: white;
    color: hsl(235, 19%, 35%);

    .todo-input, li {
        background-color:  hsl(0, 0%, 98%);
        color: hsl(235, 19%, 35%);
    }

    #din-items {
        color: hsl(235, 19%, 35%)
    }
    
}